<!DOCTYPE html>
<html>
    <style>
    .vertical-align-center {
    /* To center vertically */
    
    vertical-align: middle;
    }
    .modal-content2 {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    }
    
                .modal {
            text-align: center;
            padding: 0!important;
            }

            .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
            }

            .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            }
            
             article, aside, figure, footer, header, hgroup, 
            menu, nav, section { display: block; }
    </style>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

    <!-- Bootstrap Core CSS -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        
        <!-- Datepicker for date -->
        <link rel="stylesheet" href="css/jquery-ui.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery/dist/jquery-image-blob.min.js"></script>
        
        <!-- Datepicker for Date -->
        <script src="js/jquery-ui.js"></script>
        
        <!-- Bootstrap Core JavaScript -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        
        <!-- Custom Theme JavaScript -->
        <script src="dist/js/sb-admin-2.js"></script>
</head>
<body>
     <div id="divAlert"></div>
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Kehadiran</h1>
                </div>
            </div>                        
            <div class="row">
                <div class="col-lg-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">                                
                        <li><a href="#master" data-toggle="tab">Master Kehadiran</a></li>                       
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">                                
                        <!-- ================================================================================ Tab Master Hari Kerja ================================================================================ -->
                        <div class="tab-pane fade in active" id="master" style="width:100%;">
                            <br>
                            <div class="well well-lg">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-sm">
                                                <tbody>
                                                   
                                                    <tr>
                                                       
                                                        <td>Bulan</td>
                                                        <td>
                                                            <select id="bulansrc" name="bulansrc" class="form-control form-control-sm" onchange="functIsiHari(this.value)">
                                                                <option value="01">Januari</option>
                                                                <option value="02">Februari</option>   
                                                            </select>
                                                        </td>
                                                         <td>Tahun</td>
                                                         <td><select id="tahunsrc" name="tahunsrc" class="form-control form-control-sm">
                                                                <option value="">2022</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tanggal</td>
                                                        <td>
                                                            <select id="tglsrc" name="tglsrc" class="form-control form-control-sm">
                                                                <option value="01">1</option>
                                                                <option value="02">2</option>
                                                                <option value="03">3</option>
                                                                <option value="04">4</option>
                                                                <option value="05">5</option>
                                                                <option value="06">6</option>
                                                                <option value="07">7</option>
                                                                <option value="08">8</option>
                                                                <option value="09">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                        </td>
                                                        </tr>
                                                                                                    
                                                                                                       
                                                </tbody>
                                            </table>                                                    
                                        </div>                                                                                      
                                        <div class="form-group">
                                         
                                       <div class="col-lg-12">
                                        <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>  
                                                  <td align = "left">
                                                     <form action="uploadFile" method = "post" enctype = "multipart/form-data">
                                                         <button id="btnSearch" type="button" class="btn btn-info" onclick="functSearchHari();"><i class="fa fa-search fa-fw"></i>Search</button>
                                                         <button id="btnNew" type="button" class="btn btn-success"><i class="fa fa-file-o fa-fw"></i>Upload Absensi</button>
                                                         <input type="file" id="fileAbsensi" name="fileAbsensi" style="display:none" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                                         <button type="submit" class="btn btn-success">Submit</button>    
                                                     </form>                                              
                                                 </td>
                                               </tr>
                                            </tbody>  
                                        </table>
                                        </div>
                                        </div>
                                                                                
                                        </div>
                                    </div>
                                </div>                                            
                                <hr/>
                                
                                <div class="row">
                                    <div class="col-lg-5"></div>
                                    <div class="col-lg-2">
                                        <!-- <img id="loadingimg" style="display: none;position: fixed;margin: 0 0 0 75px;" src="../img/loading.gif" width="40px"></img> -->
                                        <small id="loadingimgtab1" style="display: none;position: absolute;margin: 0 0 0 75px;">Please wait ...</small>
                                       
                                    </div>
                                    <div class="col-lg-5"></div>
                                   
                                </div>
                                
                                
                                
                                <div id="divTableHari" class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-profile" data-sort="false" data-page-length="-1" style="font-size: 13px;">
                                        <thead>                                                
                                            <tr>
                                                <th><center>Nama Karyawan</center></th>
                                                <th><center>Tanggal</center></th>
                                                <th><center>Check In</center></th>
                                                <th><center>Check Out</center></th>
                                                <th><center>Durasi Kerja</center></th>
                                                <th><center>Keterangan</center></th>
                                            </tr>
                                            <tr th:each ="kehadiranModel:${ListKehadiranModel}" class="row-select">
                                                 <td class="namaKehadiran"><center><a th:text="${kehadiranModel.namaKaryawan}"></a></center></td>
                                                 <td class="tanggal"><center><a th:text="${#dates.format(kehadiranModel.tanggal,'dd-MM-yyyy')}"></a></center></td>
                                                 <td class="checkIn"><center><a th:text="${kehadiranModel.checkIn}"></a></center></td>
                                                 <td class="checkOut"><center><a th:text="${kehadiranModel.checkOut}"></a></center></td>
                                                 <td class="durasiKerja"><center><a class="durasi"></a></center></td>
                                                 <td class="keterangan"><center></center></td>
                                            </tr>
                                        </thead>
                                        <tbody id="tblDataHari"></tbody>
                                     </table>
                                    <input type="hidden" name="hdnJmlRow" id="hdnJmlRow"/>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                        
                       
                         
                        <!-- Modal hari kerja Add/Edit -->
                        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="functClearHariKerja();">&times;</button>
                                         <input type="hidden" id="hdnOperation" name="hdnOperation"/>
                                        <h4 class="modal-title" id="titleAdd" style="display: block">Input Hari Kerja Baru</h4>
                                        <h4 class="modal-title" id="titleEdit" style="display: none">Edit Hari Kerja</h4>
                                        <h4 class="modal-title" id="titleHapus" style="display: none">Hapus Hari Kerja</h4>
                                    </div>

                                    <div class="modal-body">                                            
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-default">
                                                <input type="hidden" id="hdnIdHari" name="hdnIdHari"/>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        Hari Kerja
                                                                    </td>
                                                                   
                                                                    <td>
                                                                        <input type="date" id="harikerja" name="harikerja" class="form-control">
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
                                                                <tr>
                                                                <td>
                                                                    Merah ?
                                                                    </td>
                                                                     <td>
                                                                         <input type="checkbox" id="chkmerah" name="chkmerah" onclick="functDisjam()">
                                                                         <input name="kolomket" id="kolomket" style="display: none;text-transform:uppercase" class="form-control" placeholder="Keterangan Tanggal Merah">
                                                                    </td> 
                                                                </tr>
                                                                
                                                              
                                                                
                                                                <tr>
                                                                <td>
                                                                    Jam Kerja
                                                                    </td>
                                                                     <td>
                                                                     <input type="time" id="jammasuk" name="jammasuk">&nbsp;-&nbsp;<input type="time" id="jampulang" name="jampulang">
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
                                                            </tbody>                                                                
                                                        </table> 
                                                    </div>
                                                </div>
                                                
                                                                       
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="tombolclose" name="tombolclose" onclick="functClearHariKerja();"><i class="fa fa-times fa-fw"></i> Close</button>
                                        <button id="savebutton" type="button" class="btn btn-primary" onclick="simpanHariKerja();"><i class="fa fa-save fa-fw"></i> Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal hari kerja Add/Edit -->
                        
                        
                        <!-- Modal hari kerja bulk -->
                        <div class="modal fade" id="myModalEditBulk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="functClearHariKerjaB();">&times;</button>
                                         <input type="hidden" id="hdnOperationB" name="hdnOperationB"/>
                                        <h4 class="modal-title" id="titleAddB" style="display: block">Bulk Update Tanggal Merah</h4>
                                        
                                    </div>

                                    <div class="modal-body">                                            
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-default">
                                                <input type="hidden" id="hdnIdHariB" name="hdnIdHariB"/>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                                
                                                                <tr>
                                                                    <td>Tahun berjalan</td>
                                                                    <td>
                                                                        <select id="tahunberjalan" name="tahunberjalan" class="form-control">
                                                                          <option value=""></option>
                                                                          </select>
                                                                        </td>
                                                                    </tr>
                                                                
                                                                <tr>
                                                                    
                                                                    <tr>
                                                                    <td>Bulan berjalan</td>
                                                                    <td>
                                                                        <select id="bulanberjalan" name="bulanberjalan" class="form-control" onchange="functGetTanggal(this.value)">
                                                                          <option value=""></option>
                                                                          </select>
                                                                        </td>
                                                                    </tr>
                                                                
                                                                <tr>
                                                                    
                                                                    <td>
                                                                        Hari Kerja
                                                                    </td>
                                                                   
                                                                    <td>
                                                                      <select id="hari1" name="hari1">
                                                                          <option value=""></option>
                                                                          </select>
                                                                        &nbsp;-&nbsp;
                                                                       <select id="hari2" name="hari2">
                                                                          <option value=""></option>
                                                                          </select>   
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
                                                                <tr>
                                                                <td>
                                                                    Merah ?
                                                                    </td>
                                                                     <td>
                                                                         <input type="checkbox" id="chkmerahB" name="chkmerahB" onclick="functDisjamB()" checked disabled>
                                                                         <input name="kolomketB" id="kolomketB" style="display: block;text-transform:uppercase;" class="form-control" placeholder="Keterangan Tanggal Merah">
                                                                    </td> 
                                                                </tr>
                                                                
                                                              
                                                                
<!--                                                                <tr>
                                                                <td>
                                                                    Jam Kerja
                                                                    </td>
                                                                     <td>
                                                                     <input type="time" id="jammasukB" name="jammasukB">&nbsp;-&nbsp;<input type="time" id="jampulangB" name="jampulangB">
                                                                    </td>
                                                                    
                                                                </tr>-->
                                                                
                                                            </tbody>                                                                
                                                        </table> 
                                                    </div>
                                                </div>
                                                
                                                                       
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="tombolcloseB" name="tombolcloseB" onclick="functClearHariKerjaB();"><i class="fa fa-times fa-fw"></i> Close</button>
                                        <button type="button" class="btn btn-primary" onclick="functBulkUpdate();"><i class="fa fa-save fa-fw"></i> Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal hari kerja Add/Edit -->

                         <!-- Modal jam kerja bulk -->
                        <div class="modal fade" id="myModalEditBulkJam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="functClearHariKerjaJ();">&times;</button>
                                         <input type="hidden" id="hdnOperationJ" name="hdnOperationJ"/>
                                        <h4 class="modal-title" id="titleAddJ" style="display: block">Bulk Update Jam Kerja</h4>
                                        
                                    </div>

                                    <div class="modal-body">                                            
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel panel-default">
                                                <input type="hidden" id="hdnIdHariJ" name="hdnIdHariJ"/>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tbody>
                                                                
                                                                <tr>
                                                                    <td>Tahun berjalan</td>
                                                                    <td>
                                                                        <select id="tahunberjalanJ" name="tahunberjalanJ" class="form-control">
                                                                          <option value=""></option>
                                                                          </select>
                                                                        </td>
                                                                    </tr>
                                                                
                                                                <tr>
                                                                    
                                                                    <tr>
                                                                    <td>Bulan berjalan</td>
                                                                    <td>
                                                                        <select id="bulanberjalanJ" name="bulanberjalanJ" class="form-control" onchange="functGetTanggalJ(this.value)">
                                                                          <option value=""></option>
                                                                          </select>
                                                                        </td>
                                                                    </tr>
                                                                
                                                                <tr>
                                                                    
                                                                    <td>
                                                                        Hari Kerja
                                                                    </td>
                                                                   
                                                                    <td>
                                                                      <select id="hari1J" name="hari1J">
                                                                          <option value=""></option>
                                                                          </select>
                                                                        &nbsp;-&nbsp;
                                                                       <select id="hari2J" name="hari2J">
                                                                          <option value=""></option>
                                                                          </select>   
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
<!--                                                                <tr>
                                                                <td>
                                                                    Merah ?
                                                                    </td>
                                                                     <td>
                                                                         <input type="checkbox" id="chkmerahB" name="chkmerahB" onclick="functDisjamB()" checked disabled>
                                                                         <input name="kolomketB" id="kolomketB" style="display: block;text-transform:uppercase;" class="form-control" placeholder="Keterangan Tanggal Merah">
                                                                    </td> 
                                                                </tr>-->
                                                                
                                                              
                                                                
                                                                <tr>
                                                                <td>
                                                                    Jam Kerja
                                                                    </td>
                                                                     <td>
                                                                     <input type="time" id="jammasukJ" name="jammasukJ">&nbsp;-&nbsp;<input type="time"  id="jampulangJ" name="jampulangJ">
                                                                    </td>
                                                                    
                                                                </tr>
                                                                
                                                            </tbody>                                                                
                                                        </table> 
                                                    </div>
                                                </div>
                                                
                                                                       
                                            </div>                                                
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="tombolcloseB" name="tombolcloseB" onclick="functClearHariKerjaJ();"><i class="fa fa-times fa-fw"></i> Close</button>
                                        <button type="button" class="btn btn-primary" onclick="functBulkUpdateJam();"><i class="fa fa-save fa-fw"></i> Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal jam kerja Add/Edit -->
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
    
     <style>
        .high {
            color: palevioletred;
        }

        .low {
            color: skyblue;
        }
    </style>
<script>
     $(document).ready(function(){
	     $("#btnNew").click(function(){
		    $("#fileAbsensi").click();
	     })
     })         
</script>

<script th:inline="javascript">
     $(document).ready(function(){
    	 var listData = [[${ListKehadiranModel}]];
  	     for(var i=0;i<document.getElementsByClassName("durasi").length;i++){
 		   document.getElementsByClassName("durasi")[i].innerHTML = getDuration(listData[i].checkIn,listData[i].checkOut);   
 	   }
     })
     
     function getDuration(s,e){
	     if(s && e) {
			    var start = s.split(":");
			    var end = e.split(":");
			    var startDate = new Date(0, 0, 0, start[0], start[1], 0);
			    var endDate = new Date(0, 0, 0, end[0], end[1], 0);
			    var diff = endDate.getTime() - startDate.getTime();
			    var hours = Math.floor(diff / 1000 / 60 / 60);
			    diff -= hours * 1000 * 60 * 60;
			    var minutes = Math.floor(diff / 1000 / 60);
		      	return (hours <= 9 ? "" : "") + hours + " Jam " + (minutes >= 1 ? minutes+" menit " : "");
		   }
			    else {
			    return null;	
			    }
     }
</script>

</body>
</html>